<div
  class="container-fluid"
  style="min-height: 100vh; background-color: #082032"
>
  <div class="container">
    <div
      class="row justify-content-center align-items-center text-center"
      style="min-height: 30vh"
    >
      <h1 style="color: white">{{ reponame }}</h1>
    </div>
    <div class="row" *ngFor="let commit of commits">
      <div class="col">
        <div class="card bg-dark mb-2">
          <div class="card-body">
            <div class="row">
              <div class="col-4">
                <p style="color: white">{{ commit.commit.author.name }}</p>
                <p style="color: white">{{ commit.commit.author.email }}</p>
              </div>
              <div class="col-4">
                <p style="color: white">{{ commit.commit.message }}</p>
              </div>
              <div class="col-4">
                <a href="{{ commit.html_url }}" style="color: white"
                  >Go To Change 👉</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
